# ignore-unknown-settings=
# 8bit-dns=no
# allow-axfr-ips=127.0.0.0/8,::1
# allow-dnsupdate-from=127.0.0.0/8,::1
# allow-notify-from=0.0.0.0/0,::/0
# allow-unsigned-autoprimary=yes
# allow-unsigned-notify=yes
# allow-unsigned-supermaster=yes
# also-notify=
# any-to-tcp	Answer ANY queries with tc=1, shunting to TCP
# any-to-tcp=yes
# api=no
# api-key=
# autosecondary=no
# axfr-fetch-timeout=10
# axfr-lower-serial=no
# cache-ttl=20
# carbon-instance=auth
# carbon-interval=30
# carbon-namespace=pdns
# carbon-ourname=
# carbon-server=
# chroot=
# config-dir=/etc/powerdns
# config-name=
# consistent-backends=yes
# control-console=no
# daemon=no
# default-api-rectify=yes
# default-ksk-algorithm=ecdsa256
# default-ksk-size=0
# default-publish-cdnskey=
# default-publish-cds=
# default-soa-content=a.misconfigured.dns.server.invalid hostmaster.@ 0 10800 3600 604800 3600
# default-soa-edit=
# default-soa-edit-signed=
# default-ttl=3600
# default-zsk-algorithm=
# default-zsk-size=0
# direct-dnskey=no
# disable-axfr=no
# disable-axfr-rectify=no
# disable-syslog=no
# distributor-threads=3
# dname-processing=no
# dnssec-key-cache-ttl=30
# dnsupdate=no
# domain-metadata-cache-ttl=
# edns-cookie-secret=
# edns-subnet-processing=no
# enable-lua-records=no
# entropy-source=/dev/urandom
# expand-alias=no
# forward-dnsupdate=yes
# forward-notify=
# guardian=no
# include-dir=
# include-dir=/etc/powerdns/pdns.d
# launch=
launch=
launch=gpgsql
gpgsql-host=2001:db8:aaaa:aabc:192:0:0:34
gpgsql-user=powerdns
gpgsql-dbname=powerdns
gpgsql-extra-connection-parameters=sslmode=verify-full sslrootcert=/etc/ssl/certs/ca.crt sslcert=/etc/ssl/client.powerdns.crt sslkey=/etc/ssl/client.powerdns.key
gpgsql-get-order-first-query=select ordername from records where domain_id = $1 and disabled = false and ordername is not null order by 1 asc limit 1
gpgsql-get-order-before-query=select ordername, name from records where ordername <= $1 and domain_id = $2 and disabled = false and ordername is not null order by 1 desc limit 1
gpgsql-get-order-after-query=select ordername from records where ordername > $1 and domain_id = $2 and disabled = false and ordername is not null order by 1 asc limit 1
gpgsql-get-order-last-query=select ordername, name from records where ordername != '' and domain_id = $1 and disabled = false and ordername is not null order by 1 desc limit 1
# load-modules=
# local-address=0.0.0.0, ::
# local-address-nonexist-fail=yes
# local-port=53
# log-dns-details=no
# log-dns-queries=no
# log-timestamp=yes
# logging-facility=
# loglevel=4
# lua-axfr-script=
# lua-dnsupdate-policy-script=
# lua-health-checks-expire-delay=3600
# lua-health-checks-interval=5
# lua-prequery-script=
# lua-records-exec-limit	LUA records scripts execution limit (instructions count). Values <= 0 mean no limit
# lua-records-exec-limit=1000
# master=no
# max-cache-entries=1000000
# max-ent-entries=100000
# max-generate-steps=0
# max-include-depth=20
# max-nsec3-iterations=100
# max-packet-cache-entries=1000000
# max-queue-length=5000
# max-signature-cache-entries=
# max-tcp-connection-duration=0
# max-tcp-connections=20
# max-tcp-connections-per-client=0
# max-tcp-transactions-per-conn=0
# negquery-cache-ttl=60
# no-shuffle=off
# non-local-bind=no
# only-notify=0.0.0.0/0,::/0
# outgoing-axfr-expand-alias=no
# overload-queue-length=0
# prevent-self-notification=yes
# primary=no
# proxy-protocol-from=
# proxy-protocol-maximum-size=512
# query-cache-ttl=20
# query-local-address=0.0.0.0 ::
# query-logging=no
# queue-limit=1500
# receiver-threads=1
# resolver=no
# retrieval-threads=2
# reuseport=no
# rng=auto
# secondary=no
# secondary-check-signature-freshness=yes
# secondary-do-renotify=no
# security-poll-suffix=secpoll.powerdns.com.
security-poll-suffix=
# send-signed-notify=yes
# server-id=
# setgid=
# setuid=
# signing-threads=3
# slave=no
# slave-cycle-interval=60
# slave-renotify=no
# socket-dir=
# superslave=no
# svc-autohints	Transparently fill ipv6hint=auto ipv4hint=auto SVC params with AAAA/A records for the target name of the record (if within the same zone)
# svc-autohints=no
# tcp-control-address=
# tcp-control-port=53000
# tcp-control-range=127.0.0.0/8, 10.0.0.0/8, 192.168.0.0/16, 172.16.0.0/12, ::1/128, fe80::/10
# tcp-control-secret=
# tcp-fast-open=0
# tcp-idle-timeout=5
# traceback-handler=yes
# trusted-notification-proxy=
# udp-truncation-threshold=1232
# upgrade-unknown-types=no
# version-string=full
# webserver	Start a webserver for monitoring (api=yes also enables the HTTP listener)
# webserver=no
# webserver-address=127.0.0.1
# webserver-allow-from=127.0.0.1,::1
# webserver-hash-plaintext-credentials=no
# webserver-loglevel=normal
# webserver-max-bodysize=2
# webserver-password=
# webserver-port=8081
# webserver-print-arguments=no
# write-pid=yes
# xfr-cycle-interval=60
# xfr-max-received-mbytes=100
# zone-cache-refresh-interval=300
# zone-metadata-cache-ttl=60
