[Unit]
Description=Socket for Netcrave Docker container service

[Socket]
ListenStream=/run/docker/sock
SocketMode=0660
SocketUser=root
SocketGroup=docker

[Install]
WantedBy=sockets.target
