zebra={{ ZEBRA }}
bgpd={{ BGPD }}
ospfd={{ OSPFD }}
ospf6d={{ OSPF6D }}
ripd={{ RIPD }}
ripngd={{ RIPNGD }}
isisd={{ ISISD }}
pimd={{ PIMD }}
ldpd={{ LDPD }}
nhrpd={{ NHRPD }}
eigrpd={{ EIGRPD }}
babeld={{ BABELD }}
sharpd={{ SHARPD }}
staticd={{ STATICD }}
pbrd={{ PBRD }}
bfdd={{ BFDD }}
fabricd={{ FABRICD }}
vtysh_enable={{ VTYSH_ENABLE }}
zebra_options="{{ ZEBRA_OPTIONS }}"
bgpd_options="{{ BGPD_OPTIONS }}"
ospfd_options="{{ OSPFD_OPTIONS }}"
ospf6d_options="{{ OSPF6D_OPTIONS }}"
ripd_options="{{ RIPD_OPTIONS }}"
ripngd_options="{{ RIPNGD_OPTIONS }}"
isisd_options="{{ ISISD_OPTIONS }}"
pimd_options="{{ PIMD_OPTIONS }}"
ldpd_options="{{ LDPD_OPTIONS }}"
nhrpd_options="{{ NHRPD_OPTIONS }}"
eigrpd_options="{{ EIGRPD_OPTIONS }}"
babeld_options="{{ BABELD_OPTIONS }}"
sharpd_options="{{ SHARPD_OPTIONS }}"
staticd_options="{{ STATICD_OPTIONS }}"
pbrd_options="{{ PBRD_OPTIONS }}"
bfdd_options="{{ BFDD_OPTIONS }}"
fabricd_options="{{ FABRICD_OPTIONS }}"
